.box-red {
  background-color: red;
}

.box-blue {
  background-color: lightblue;
}

.box-green {
  background-color: green;
}

#opening > h1 {
  color: lightgoldenrodyellow;
}

.my_footer {
  font-size: 1.2em;
  min-height: 50px;
  align-self: center;
}

header {
  color: lightgrey;
  text-align: center;
  padding: 2px;
}
